/* ----- STYLES ----- */

body {
    background-color: #849EAD;
}

h2 {
    font-family: 'Coffee Mood', sans-serif;
    color: white;
    font-size: 35px;
}

p {
    font-family: 'Hind Guntur', sans-serif;
    color: white;
}

.button {
    background-color: #E5B648;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Hind Guntur', sans-serif;
    color: #F9E6B9;
    border-radius: 8px;
    transition-duration: 0.4s; 
}

.button:hover {
    background-color: #F9E6B9; 
    color: #E5B648;
}

/* ----- HEADER, NAVIGATION AND FOOTER ----- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #728D9C;
}

.logo a {
    font-family: 'Coffee Mood', sans-serif;
    font-size: 50px;
    color: white;
    text-decoration: none;
}

.logo a:hover {
    background-color: #A3B7C2;
    border-radius: 50%;
    transition-duration: 0.4s;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-family: 'Hind Guntur', sans-serif;
    color: white;
    font-size: 18px;
    transition-duration: 0.4s;
}

nav a:hover {
    background-color: #A3B7C2;
    border-radius: 50%;
}

footer {
    background-color: #728D9C;
    color: white;
    padding: 40px 0;
}

.ohmypaw-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    width: 30%;
}

.footer-column a {
    font-family: 'Hind Guntur', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer-column a:hover {
    background-color: #A3B7C2;
    border-radius: 50%;
    transition-duration: 0.4s;
}

.footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-column li {
    margin-bottom: 10px;
}

/* ----- COVER IMAGE ----- */

.cover-image {
    width: 100%;
    height: auto;
}

.cover-image-container {
    position: relative;
    text-align: center;
    color: white;
}

.cover-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover-image-title {
    font-size: 80px;
    color: #E5B648;
    text-shadow: 2px 2px 3px black;
}

.cover-image-subheading {
    font-size: 30px;
    text-shadow: 2px 2px 3px black;    
}

/* ----- HOME PAGE ----- */

.home-row {
    display: flex;
}

.home-column {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

#cat-drawing {
    width: 60%;
    height: 250px;
    align-items: center;
}

/* ----- ABOUT PAGE ----- */

.about-row {
    display: flex;
}

.about-column {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

.about-text {
    font-size: font-size: 35px;
    text-align: center;
}

/* ----- OUR SERVICES PAGE ----- */

.services-row {
    display: flex;
}

.services-column {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

#circle-cat {
    width: 60%;
    height: 250px;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-color: #E5B648;
    border-width: thick;
}

.services-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1%;
}

/* ----- WHY CHOOSE US? PAGE ----- */

.whychooseus-text {
    font-size: font-size: 35px;
    text-align: center;
}

.whychooseus-subheading {
    font-size: font-size: 35px;
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1%;
}

.review {
    font-size: font-size: 35px;
    text-align: center;
}

/* ----- BOOKING PAGE ----- */

.booking-text {
    font-size: font-size: 35px;
    text-align: center;
}

form {
    background-color: #728D9C;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    font-family: 'Hind Guntur', sans-serif;
    font-size: 18px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #E5B648;
    border: none;
    border-radius: 2px;
    padding: 6px 10px;
    cursor: pointer;
    font-family: 'Hind Guntur', sans-serif;
    font-size: 18px;
    color: #F9E6B9;
    transition-duration: 0.4s; 
}

input[type="submit"]:hover {
    background-color: #F9E6B9;
    font-size: 18px;
    color: #E5B648;
}

.submit-button {
    text-align: center;
}

/* ----- BOOKING CONFIRMATION PAGE ----- */

.gradient {
    background-image: linear-gradient(to right, #728D9C, #849EAD);
}

.confirmation-text {
    font-size: font-size: 35px;
    text-align: center;
}

/* ----- CAT CAFÉ PAGE ----- */

.catcafe-row {
    display: flex;
}

.catcafe-column {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

#circle-cat {
    width: 60%;
    height: 250px;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-color: #E5B648;
    border-width: thick;
}

/* ----- MENU PAGE ----- */

.menu-row {
    display: flex;
}

.menu-column {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

/* ----- MEDIA QUERY ----- */

@media (max-width: 550px) {
    .logo a {
        font-size: 20px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav li {
        margin: 10px 0;
    }
    
    .cover-image {
        height: auto;
    }
   
/* HOME PAGE */    
    
    .home-row {
        flex-direction: column;
    }
    
    .home-column {
        margin: 10px 0;
        margin-right: 0;
    }

/* ABOUT PAGE */ 

    .about-row {
        display: block;
    }
    
    .about-column {
        width: 100%;
        padding: 0;
    }
    
    .about-column:not(:first-child) {
        margin-top: 1.5rem;
    }
    
/* SERVICES PAGE */
    
    .services-row {
        flex-direction: column;
    }
    
    .services-column {
        margin: 10px 0;
        margin-right: 0;
    }
    
/* WHY CHOOSE US PAGE */
    
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    
    .gallery-item {
        margin-bottom: 1rem;
    }
    
    gallery-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
/* CAT CAFÉ PAGE */
    
    .catcafe-row {
        flex-direction: column;
    }
    
    .catcafe-column {
        margin: 10px 0;
        margin-right: 0;
    }
    
/* MENU */    
    
    .menu-row {
        flex-direction: column;
    }
    
    .menu-column {
        margin: 10px 0;
        margin-right: 0;
    }
}